body {
  font-family: sans-serif;
}
.task-sections{
  display: flex;
  /* gap: 30px; */
  justify-content: space-evenly;

}
.section{
 width: 30%;
 height: 700px;
 /* justify-content: space-evenly; */
}
