.example-card {
  /* max-width: 400px; */
  /* text-align: left; */
  width: 20rem;
  margin-right: 300;
  margin-left: 300;
  background-color: rgb(230, 154, 40);

}
mat-card-header{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mat-card-footer{
  display: flex;
  justify-content: space-between;
  margin: 0;

}
mat-icon:hover
{
  cursor:pointer;
  color: rgb(2, 45, 45);
}

.todo-section{
  width: 25rem;

}
